apiVersion: v1
kind: ConfigMap
metadata:
  name: devops-project-config
  namespace: devops-project
data:
  DB_HOST: "{{ db_host }}"
  DB_PORT: "{{ db_port | string }}"
  DB_NAME: "{{ db_name }}"
  BASE_URL: "{{ base_url }}"
  APP_BASE_URL: "https://{{ domain_name | default('devops-projet.fr') }}"