apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: devops-project-ingress
  namespace: devops-project
  annotations:
    {% if domain_name is defined and domain_name %}
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
    traefik.ingress.kubernetes.io/redirectscheme.scheme: https
    traefik.ingress.kubernetes.io/router.middlewares: default-redirect@file
    {% else %}
    kubernetes.io/ingress.class: "traefik"
    traefik.ingress.kubernetes.io/router.entrypoints: web
    {% endif %}
spec:
  {% if domain_name is defined and domain_name and acm_certificate_arn is defined and acm_certificate_arn %}
  tls:
    - hosts:
        - "{{ domain_name }}"
      secretName: devops-project-tls
  {% endif %}
  rules:
    {% if domain_name is defined and domain_name %}
    - host: "{{ domain_name }}"
      http:
        paths:
          - path: {{ base_url }}
            pathType: Prefix
            backend:
              service:
                name: devops-project
                port:
                  number: 80
    {% else %}
    - http:
        paths:
          - path: {{ base_url }}
            pathType: Prefix
            backend:
              service:
                name: devops-project
                port:
                  number: 80
    {% endif %}