apiVersion: v1
kind: Secret
metadata:
  name: devops-project-secret
  namespace: devops-project
type: Opaque
stringData:
  DB_USER: "{{ db_user }}"
  DB_PASS: "{{ db_password }}"
  DB_ROOT_PASSWORD: "{{ db_root_password | default('root') }}"